
/* html*/
html {
  font-style: normal;
  font-size: 20px;
  background-color: navy;
}
/*body header styles */
body>header>
img {
  display:block;
   width: 35%;
    
}
/* paragraph style */
p {
  
  background-color:rgba(225, 142, 65, 0.808);
  
  
}
/* h1 h2 h3 style */
h1 {
  text-align: center;
  font-style: oblique;
  background-color: rgba(225, 142, 65, 0.808);
  color:navajowhite;
}
h2 {
  text-align: center;
  font-style: oblique;
  background-color: rgba(225, 142, 65, 0.808) ;
    color: navajowhite;
}
h3 {
  
  font-style: oblique;
  background-color: rgba(225, 142, 65, 0.808);
    color:navajowhite;
}
/* ul style */
ul {
  
    color: navajowhite;
}
/* section */
section {
  color:navajowhite;
}
/* footer */
footer {
    color: navajowhite;
}